BOT_TOKEN = "Ваш токен для бота, полученный от @BotFather"
ID_CHAT = "Ваш ID чата в телеграмм куда будут направлять сообщения"
PARTNERS_URL = "Партнерская ссылка в букмекерской конторе"
TIME_SORT_START = "Начальное время (минуты) отбора матча во 2 тайме"
TIME_SORT_END = "Конечное время (минуты) отбора матча во 2 тайме"
ATTACKS = "Количество атак для отбора"
DANGEROUS_ATTACKS = "Количество опасных для отбора"
SHOTS_ON_TARGET = "Количество ударов в створ для отбора"
SHOTS_TOWARDS_THE_GOAL = "Количество ударов в сторону ворот для отбора"
SCORE_DIFFERENCE = "Разница голов у команд для отбора"
SCORE_ONE_TIME = "Количество голов в 1 тайме для отбора"
CORNERS = "Количество угловых"
